body{
	width:90%;
	margin: 0 auto;

	
	background-image:url("https://c2.staticflickr.com/4/3940/15360634319_f2f2896de6_b.jpg");
	
}
h1
{
	color: OliveDrab;
	text-align: center;
	font-size: 2.5em;
}

.place{
	float:left;
	width:50%;
	padding:5px;
	
   
}
.city1, .city2{
	width:31.3%;
	float:left;
	margin:1%;
}
.raw1::after{
	content:"";
	clear : both;
	display:table;
}
.cities1, .cities2, .cities3{
	width:31.3%;
	float:left;
	margin:1%;
	
}
.raw2::after{
	content:"";
	clear : both;
	display:table;
}
.cities3{margin-right:0%;}