body{width:90%;
margin: 0 auto;}

div.a{
   text-align:left-side;	
}


div.tittle{
	font-size:160%;
	font-family:verdana;
}
div.body{
	font-family:TimesNewRoman;
}
div.body2{
	
	font-family:TimesNewRoman;
	
}