body{
	width:90%;
	margin: 0 auto;

	
	background-image:url("https://w-dog.net/wallpapers/9/15/508212315433034/west-sussex-england-great-britain-west-sussex-england-united-kingdom-landscape-the-field-grass-hills-fence-fence-farm-sheep-nature-night.jpg");
	
	
}
h1
{
	color:BlueViolet;
	text-align: center;
	font-size: 2.5em;
}

.place{
	float:left;
	width:50%;
	padding:5px;
	
   
}
.city1, .city2{
	width:31.3%;
	float:left;
	margin:1%;
}
.raw1::after{
	content:"";
	clear : both;
	display:table;
}
.cities1, .cities2, .cities3{
	width:31.3%;
	float:left;
	margin:1%;
	
}
.raw2::after{
	content:"";
	clear : both;
	display:table;
}
.cities3{margin-right:0%;}